
/*
    The purpose of this file is to add some basic,
    and some neccessary style to make our web page
    readable for all group members. 
 
    author: Adam Rossi (Group leader), Jan Zubalski,
            Thais Serpa Chaves, Jack Aroyan
*/


/* General text style */
body {
    font-family: 'Calibri', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white; 
}



